@import url("@shivangi_2408/effective-ui/dist/esm/styles.css") layer(effective-ui);
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  font-size: 12px; 
}* {
  font-size: inherit;
  font-family: "Be Vietnam Pro", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}
::-webkit-scrollbar {
  display: none;
  width: 0.5em;
  height: 0.5em;
  background: transparent;
}
::-webkit-scrollbar-track {
  display: none;
  border-radius: 99999px;
  margin-block: 1em;
}
::-webkit-scrollbar-thumb {
  background:var(--effectiveui-default-100);
  border-radius: 99999px;
  min-height: 5px !important; 
  height: 5px !important;  
}
::-webkit-scrollbar-thumb:hover {
  background: var(--effectiveui-default-50);
}
@supports (scrollbar-color: red blue) {
  *{
    scrollbar-width: none;
  }
}

.center {
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: var(--effectiveui-background);
  color: var(--effectiveui-foreground);
  margin: 0;
  padding: 0;
  overflow: -moz-hidden-unscrollable;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

h2{
  font-size: 1.5rem;
}
 